USE [POS_System]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 14/03/2026 2:50:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[IsTop5] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 14/03/2026 2:50:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[TotalAmount] [int] NOT NULL,
	[CheckoutTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 14/03/2026 2:50:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ID] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[InStock] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/03/2026 2:50:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([DetailID], [InvoiceID], [ItemName], [Quantity], [Price], [IsTop5]) VALUES (1, 1, N'Cà phê đen', 5, 18000, 1)
INSERT [dbo].[InvoiceDetails] ([DetailID], [InvoiceID], [ItemName], [Quantity], [Price], [IsTop5]) VALUES (2, 2, N'Cà phê đen', 4, 18000, 1)
INSERT [dbo].[InvoiceDetails] ([DetailID], [InvoiceID], [ItemName], [Quantity], [Price], [IsTop5]) VALUES (3, 3, N'Sinh tố dâu', 5, 35000, 1)
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [TableName], [TotalAmount], [CheckoutTime]) VALUES (1, N'Bàn 1', 90000, CAST(N'2026-03-14T10:13:46.347' AS DateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [TableName], [TotalAmount], [CheckoutTime]) VALUES (2, N'Bàn 6', 72000, CAST(N'2026-03-14T10:35:13.337' AS DateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [TableName], [TotalAmount], [CheckoutTime]) VALUES (3, N'Bàn 2', 175000, CAST(N'2026-03-14T10:35:15.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
INSERT [dbo].[MenuItems] ([ID], [Name], [Price], [InStock]) VALUES (N'm1773457604830', N'Cà phê đen', 18000, 1)
INSERT [dbo].[MenuItems] ([ID], [Name], [Price], [InStock]) VALUES (N'm1773457623501', N'Cà phê sữa', 20000, 1)
INSERT [dbo].[MenuItems] ([ID], [Name], [Price], [InStock]) VALUES (N'm1773457638833', N'Sinh tố dâu', 35000, 1)
GO
INSERT [dbo].[Users] ([Username], [Password], [Role]) VALUES (N'admin123', N'123', N'admin')
INSERT [dbo].[Users] ([Username], [Password], [Role]) VALUES (N'TADTester', N'123', N'employee')
GO
ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT ((1)) FOR [IsTop5]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CheckoutTime]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [InStock]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
